<h1>
  Ceci est la page d'accueil du projet
  <%= Rails.application.class.parent_name %> !
</h1>


<table class="table">
    <thread>
      <tr>
        <th>Rang</th>
        <th>Nom</th>
        <th>Score</th>
      </tr>
    </thread>
    <tbody>
      
  </table>

 
