@import 'bootstrap-sprockets';
@import 'bootstrap';

.songItem, .songDesc {
  display: flex;
}

.songDesc {
  flex-direction: column;
}

.songCover {
  margin-right: 20px;
}

.songLyrics {
  white-space: pre-wrap;
}
