<h1>Stats#show</h1>
<p>Find me in app/views/stats/show.html.erb</p>

<% if @stat.any? %>
<p>
  <strong>Score:</strong>
  <%= @stat.scoreNow %>
</p>

<p>
  <strong>Votre Record:</strong>
  <%= @stat.scoreRecord %>
</p>

<%= link_to 'Rejouer ?', edit_stat_path(@stat) %> |


<% else %>
  <p>
    Il n'y a pas encore de score
  </p>
<% end %>